**/.vs
**/Debug
**/Release
**/*.bat
**/*.suo
**/*.aps
thirdlib
**/Makefile*
**/ui_*.h
**/*.pro.user
**/.qmake.stash
**/*.pb.h
**/*.pb.cc
*.user
*.sdf
*.ipch
*.VC.db
*.hint
*.patch
Copy_*
#test
.vscode
setup/
PDB_BACKUP/
data.db
/printmodule/test/t.png
pbplat
pbpatch
Docs